body {
  margin: 0 auto;
  overflow: visible;
  max-height: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  position: relative;
  right: 100px;
}

.content {
  font-family: 'Lora', serif;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

/*HEADER*/
.header {
  font-family: 'PT Sans', sans-serif;
  font-size: 41px;
  max-width: 900px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  cursor: default;
}

h1 {
  margin: 0;
  font-weight: 100;
  font-family: 'Catamaran', sans-serif;
  position: relative;
  top: 40px;
  -webkit-user-select: none;
}

h2 {
  margin: 0;
  font-weight: 100;
  font-family: 'Reenie Beanie', cursive;
  -webkit-user-select: none;
}

.last-track {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  position: relative;
  bottom: -12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.37);
}

.bg-grey-square {
  position: absolute;
  top: 150px;
  width: 590px;
  height: 30px;
  background: linear-gradient(135deg, rgba(239, 239, 239, 0.85) 0%, rgba(255, 255, 255, 0.07) 100%);
  z-index: -1;
}

.track {
  font-family: 'Lora', serif;
  font-weight: lighter;
  font-size: 13px;
  color: rgba(203, 78, 78, 0.64);
}

/*SIDEBAR*/
.side-content {
  display: flex;
  position: relative;
  top: 150px;
}

.sidebar {
  width: 110px;
  -webkit-user-select: none;
}

.icons {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.icons a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  display: flex;
  padding: 2px 5px 0px 0px;
  margin-right: 5px;
}

.icon .url {
  display: none;
  width: 10px;
}

.icon:hover .url {
  font-family: 'Lora', serif;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 2px;
  color: #c26f6f;
  width: 50px;
  transition: 0.3s all ease;
}

.links {
  font-family: 'Ubuntu', sans-serif;
  width: 90px;
}

.link {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 1.2s ease;
  max-width: 90px;
  font-size: 17px;
}

.link:hover {
  padding: 5px 10px;
  cursor: pointer;
  background: #f1f1f1;
  transition: all 0.8s ease;
  padding-bottom: 15px;
  font-size: 19px;
  transition: 0.2s font-size ease;
}

.link-active {
  padding: 5px 10px;
  cursor: pointer;
  background: #f1f1f1;
  padding-bottom: 15px;
  transition: all 1.2s ease;
  max-width: 90px;
  font-size: 17px;
}

/*PANELS*/
#panel-container {
  width: 200px;
  position: relative;
  left: 40px;
  z-index: -1;
}

.panels {
  position: relative;
  display: inline-block;
  border: 10px solid #04111D;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

#side-1 {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgba(83, 6, 185, 0.7) 100%);
  top: -45px;
  left: 10px;
  height: 90px;
  width: 100px;
  transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  -webkit-transform: skewY(30deg);
}

#side-2 {
  top: -50px;
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(69, 237, 113) 100%);
  height: 75px;
  width: 100px;
  transform: skewY(-30deg);
  -ms-transform: skewY(-30deg);
  -webkit-transform: skewY(-30deg);
}

#side-3 {
  left: 10px;
  background: #0D3860;
  height: 95px;
  width: 100px;
  transform: skewY(-30deg);
  -ms-transform: skewY(-30deg);
  -webkit-transform: skewY(-30deg);
}

#side-4 {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgba(6, 185, 169, 0.7) 100%);
  height: 96px;
  width: 100px;
  transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  -webkit-transform: skewY(30deg);
}

/*CONTACT*/
.contact {
  width: 625px;
  border-top: 1px solid #eaeaea;
  display: flex;
}

.contact-form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .contact-blurb {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 5px;
}

.contact .contact-blurb .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .contact-blurb a {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(203, 78, 78);
  text-decoration: none;
  transition: 0.2s all ease;
}

.contact .contact-blurb a:hover {
  color: rgb(7, 172, 157);
  font-size: 19px;
  transition: 0.2s all ease;
}

.contact-form input[type="text"] {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  width: 400px;
  height: 30px;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 5px;
  outline: none;
}

.contact-form textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  width: 380px;
  height: 220px;
  outline: none;
  margin-bottom: 5px;
  padding: 10px;
}

.contact-form input[type="submit"] {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  width: 403px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px lightgrey;
  background: linear-gradient(135deg, rgb(255, 207, 207) 0%, rgba(112, 255, 242, 0.7) 100%);
}

.contact-form input[type="submit"]:hover {
  background: linear-gradient(135deg, rgb(255, 180, 180) 0%, rgba(70, 255, 238, 0.7) 100%);
}

.contact-form input[type="submit"]:active {
  background: linear-gradient(135deg, rgb(255, 212, 180) 0%, rgba(70, 255, 191, 0.7) 100%);
}

/*RESUME*/
.resume {
  width: 625px;
  border-top: 1px solid #eaeaea;
}

.resume .blurb {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  margin-top: 20px;
  width: 500px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 5px;
}

.resume .blurb .red {
  display: inline;
  color: #c26f6f;
}

.skills-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}

.skills {
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  align-items: center;
  width: 450px;
  -webkit-user-select: none;
}

.skill {
  font-size: 14px;
  color: black;
  display: inline-flex;
  height: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
  box-shadow: -3px 3px 0px rgba(194, 119, 119, 0.7);
  background: rgba(104, 192, 215, 0.24);
  cursor: default;
}

.resume .row-header {
  font-family: 'Catamaran', sans-serif;
  padding: 10px 25px;
  border-bottom: 1px solid #eaeaea;
}

.resume .row {
  font-family: 'PT Sans', sans-serif;
  padding: 20px 17px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
}

.resume .row .text {
  margin-left: 10px;
}

.resume .row .text .top .name {
  display: flex;
  font-size: 17px;
  align-items: center;
}

.resume .row .text .top .title {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(203, 78, 78);
}

.resume .row .text .top .other-info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.resume .row .text .top .other-info .location {
  font-size: 14px;
  font-weight: lighter;
  color: rgb(59, 146, 171);
}

/*PORTFOLIO*/
.portfolio {
  width: 625px;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}

.portfolio-item {
}

.portfolio-item .image {
  position: relative;
}

.portfolio-item .image img {
  margin-bottom: 15px;
  width: 625px;
  height: 260px;
  box-shadow: 0px 0px 10px #acacac;
  z-index: 1;
}

.portfolio-item .image .info {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 625px;
  height: 260px;
  opacity: 0;
  transition: all 2s ease-out;
}

.portfolio-item .image .info:hover {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 585px;
  height: 240px;
  background: rgba(24, 24, 24, 0.91);
  color: rgba(255,255,255,0.83);
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  cursor: default;
}

.portfolio-item .image .info .top {
  display: flex;
  align-items: center;
}

.portfolio-item .image .info .title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
}

.portfolio-item .image .info .links a {
  color: rgba(255,255,255,0.83);
  text-decoration: none;
  cursor: pointer;
  padding-left: 15px;
}

.portfolio-item .image .info .links a:hover {
  color: #fff;
  text-decoration: underline;
}

.portfolio-item .image .info .description {
  font-family: 'Ubuntu', sans-serif;
  width: 400px;
  margin-bottom: 5px;
}

.portfolio-item .image .info .codebase .skills {
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  align-items: center;
  width: 460px;
  -webkit-user-select: none;
}

.portfolio-item .image .info .codebase .skills .skill {
  font-size: 14px;
  color: rgba(255,255,255,0.83);
  display: inline-flex;
  height: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
  box-shadow: -3px 3px 0px rgba(221, 218, 218, 0.7);
  background: rgba(0, 202, 255, 0.31);
  cursor: default;
}
